<!--
Ref: http://codepen.io/ionic/pen/gblny
http://forum.ionicframework.com/t/show-modal-based-on-localstorage-variable/174    
================================================================================
MODAL - TEMPLATE
================================================================================

If within index.html need following <script> tag:
<script id="new-task.tpl.html" type="text/ng-template">
=============================================================================-->
<div class="modal">
  
  <!-- //modal header + cancel button - Works -->
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">New Task</h1>
    <button class="button button-clear" ng-click="closeNewTask()">Cancel</button>
  </ion-header-bar>
  
  <ion-content has-header="true">
    
    <!-- novalidate removes browser validation i.e. only user ng validation -->
    <form name="newTaskForm" class="newTaskForm" ng-submit="createTask(task)" novalidate>
      
      <div class="list">
        <label class="item item-input">

          <!-- Grid used to position inputbox with space at each end --> 
          <div class="row">
            <!-- 10% spacing @ start of row-->
            <div class="col col-10">
            </div>
            <!-- 80% spacing for inputbox -->
            <div class="col col-80">
              <label class="item item-input">

                <input type="text" name="ibTaskName" placeholder="Enter new task   here...?" ng-model="task.title" ng-required="true" maxlength="20" class="col col-100">

              </label>

              <!-- Show "Required" error message until a value is entered -->
              <span class="error padding" ng-show="newTaskForm.ibTaskName.$error.required">
              Required!
              </span>
            </div>

            <!-- 10% spacing @ end of row-->
            <div class="col col-10">
            </div>

          </div> <!-- @END/ .row -->  
              
        </label>  

      </div> <!-- @END/ .list -->
      
      <div class="padding">
        <button type="submit" class="button button-block button-assertive" ng-disabled="newTaskForm.$invalid">Create Task</button>
      </div>

    </form> <!-- @END/ form -->
    
  </ion-content>

</div>  <!-- @END/ .modal -->
